* {
    box-sizing: border-box;
}
.WeekCalendar {
    font-family: sans-serif;
    text-align: center;
    min-height: 50vh;
    background-color: rgb(218, 243, 215);
    margin: 0;
    padding: 20px;
    width: 100%;
}
/* FONT IMPORTS */
  
.icon {
    font-family: "Material Icons", serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
/* GENERAL */

