.Wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
} */

/* html {
    box-sizing: border-box;
} */

*,
*:before,
*:after {
    box-sizing: inherit;
}



.column {
    height: 100%;
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 30px;
    width: 100%;
    text-align: center;
    background-color: #af6f1c;
    color: white;
    font-family: "Bradley Hand";
}

.container {
    padding: 0 16px;
    z-index: 0;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.homeLink {
    position: absolute;
    left: 90%;
    top: 92%;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}