* {
    box-sizing: border-box;
}

.pageWrapper {
    width: 100%;
    height: 85vh;
    display: flex;
}

.inputContainer {
    width: 35%;
    height: 100%;
    position: relative;
}

.inputField {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 12%;
    left: 70%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    position: absolute;
    top: 57%;
    left: 62%;
    transform: translate(-50%, 0);
    opacity: 0.8;
}

.nameTag {
    width: 70%;
    padding-left: 5px;
}

.content {
    width: 70%;
    height: 50%;
    font-size: 15px;
}

.commentsContainer {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentsField {
    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow: scroll;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 3%;
}

.comment {
    border: 2px solid rgba(165, 42, 42, 0.35);
    padding: 2%;
    width: 95%;
    position: relative;
    margin-bottom: 2%;
}

.commentName {
    color: black;
    font-size: 16px;
}

.likeContainer {
    position: absolute;
    height: 35%;
    width: 10%;
    top: 5%;
    left: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeNum {
    
    font-size: 18px;
}

.like-icon {
    cursor: pointer;
}

/* .submit {
    width: 35%;
    height: 6%;
    cursor: pointer;
} */

.submit {
    width: 70%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.submit:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.submit {
    border: 2px solid #0e83cd;
    color: #0e83cd;
}

.submit:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0e83cd;
}

.submit:hover,
.submit:active {
    color: #fff;
}

.submit:hover:after,
.submit:active:after {
    width: 100%;
}

/* .homeLink {
    position: absolute;
    left: 90%;
    top: 92%;
    cursor: pointer;
} */