* {
    box-sizing: border-box;
}

.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dialogBox {
    background-image: url("../images/cute-dialog.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    position: absolute;

    background-size: 75%; /* Resize the background image to cover the entire container */
    width: 100%;
    height: 100%;

    /* 讓圖片可以跑到最下面 */

    /* position: absolute; */
    opacity: 1;
}

.messageWrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 40px;
}

@media screen and (max-width: 1050px) {
    .messageWrapper {
        position: absolute;
        top: 32%;
        left: 50%;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    .messageWrapper {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 12px;
    }
}