* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.MainPageWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.LogoWrapper {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* waveforms */
.wave {
    background: #ffd231;
    width: 380px;
    height: 380px;
    border-radius: 40%;
    opacity: 0.4;
    position: absolute;
    transform-origin: center;
    animation: drift 7s infinite linear;
    z-index: -1;
}
.wave.two {
    animation: drift 9s infinite linear;
}
.wave.three {
    animation: drift 11s infinite linear;
    opacity: 0.1;
}
@keyframes drift {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* end of waveforms */

.ButtonWrapper {
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}