.MainPageWrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

.bg-image {
    background-image: url("../images/background.jpg");
    width: 100%;
    height: 100%;

    /* 讓圖片可以跑到最下面 */
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* 變模糊 */
    filter: blur(3px);

    opacity: 60%;
}

.MainPage {
    height: 30%;
    width: 30%;
    /* background-color: aqua; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}